@import './src/styles/utils';

.editor-header {
  background: $oc-gray-1;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $oc-gray-4;

  .hd{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .submit{
    margin-left: auto;
  }
}